@font-face {
    font-family: mainFont;
    src: url(../font/BAHNSCHRIFT\ 8.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-areas: "header" "slider" "offer" "products" "contact";
}

:root {
    --redcolor: #bb1a1a;
    --blackcolor: #302828;
    --hover: rgba(128, 128, 128, 0.6);
    --borderColor: rgba(131, 131, 131, 0.3);
    --blackopacity: #302828ee;
}


/* -----------------NASLOVNA------------------ */


/* header (naslovna i proizvodi stranica) */

.divGlavni {
    display: grid;
    grid-area: header;
    width: 100%;
    grid-template-areas: "ikon location location" "ikon meni meni";
    font-size: 21px;
}

.logoHeader {
    grid-area: ikon;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.logoHeader img {
    width: 100px;
}

.divGlavni ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divDrugi {
    grid-area: location;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 6% 100%, 0 0);
    clip-path: polygon(100% 0, 100% 38%, 100% 100%, 6% 100%, 0 0);
    background-color: var(--redcolor);
    height: 50px;
}

.crveniKontakt {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
}

.crveniKontakt li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crveniKontakt li a {
    text-decoration: none;
    color: white;
}

.crveniKontakt li a:hover {
    text-decoration: underline;
}

.crveniKontakt img {
    width: 21px;
    margin-right: 8px;
}


/* meni */

.divMenu {
    height: 50px;
    grid-area: meni;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    text-decoration: none;
    padding: 10px;
    color: var(--blackcolor);
}

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.divMenu ul li {
    float: right;
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 1s;
}

.divMenu ul li a {
    width: 100%;
}

.nav-menu li:hover {
    background-color: var(--hover);
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
}


/* Style the navbar links  */

#navbar {
    background-color: #bb1a1a;
    position: fixed;
    top: -70px;
    width: 100%;
    transition: top 0.3s;
    color: white;
    font-weight: bold;
    z-index: 1000;
}

#navbar .navSlika {
    width: 60px;
    margin-left: 40px;
    margin-top: 2px;
}


/* Style the navbar links */

#navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2em;
}

#navbar a:hover {
    background-color: var(--blackcolor);
    color: white;
    transition: 1s;
    height: 100%;
}


/* phone menu */

#hamburgerMenu {
    display: none;
    width: 100%;
    display: flex;
}

.hamburger {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.menuItem {
    font-size: 2em;
}

.menu li {
    width: 100%;
    text-align: center;
}


/* UBACITI U CSS POSLE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.showMenu {
    transform: translateY(0);
}

.menuIcon {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: black;
}

.closeIcon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 1.2em;
    background-color: black;
}


/* slider */


/* Slideshow container */

.slajder {
    grid-area: slajder;
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
}

.mySlides {
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
}


/* text box */

.divTrecina {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 33%;
    height: 100%;
    background-color: var(--hover);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    color: rgb(0, 0, 0);
}

.textSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.textSlider h1 {
    font-size: 3em;
    width: 100%;
    padding: 5px;
}

.textSlider p {
    font-size: 1.4em;
    width: 100%;
    padding: 5px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    height: 50%;
    width: auto;
    padding: 26px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: var(--hover);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: 1200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*Treci deo*/

.divNudimo {
    background-color: #302828;
    grid-area: offer;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.divBox {
    position: absolute;
    top: -20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    height: 100%;
    z-index: 110;
}

.boxSlika {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.boxSlika img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.boxText {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}

.boxText h2 {
    width: 100%;
    text-align: left;
    font-size: 3em;
    margin-bottom: 20px;
}

.boxp1 {
    width: 100%;
    text-align: left;
    font-size: 2em;
    margin-bottom: 15px;
    color: var(--redcolor);
}

.boxp2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 2em;
    margin-bottom: 10px;
}

.boxText img {
    width: 27px;
}


/* Usluge */

.usluge {
    grid-area: products;
    background-image: url(../img/CustomMeso.png);
    background-repeat: repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.naslovUsluge {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: -60px;
}

.naslovUsluge h2 {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 5px 10px;
}

.naseUsluge {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 80px;
}

.boxUsluge {
    width: 20%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #302828ee;
    -webkit-box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.8);
    transition: 1s;
}

.boxUsluge img {
    max-width: 120px;
    margin-bottom: 10px;
}

.boxUsluge h3 {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.boxUsluge p {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}


/* footer */

.footer {
    background-color: #302828;
    width: 100%;
    height: 60vh;
    grid-area: contact;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerBox {
    width: 40%;
    background-color: var(--redcolor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px 10px 30px 10px;
}

.drugaC {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
    padding: 10px;
}

.drugaC:last-child {
    border: none;
}

.drugaC p {
    text-align: center;
}

.telefonFooter img,
.locationFooter img {
    margin-right: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialFooter {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialFooter img {
    width: 40px;
}

.drugaC p a {
    text-decoration: none;
    color: white;
}

.drugaC p a:hover {
    text-decoration: underline;
}

.socLink:hover {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.linija {
    border-top: silver solid;
    width: 90%;
    margin-top: 10px;
    height: 5%;
}

.dnoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.dnoFooter p,
a {
    padding: 10px;
    display: inline-block;
    color: rgba(192, 192, 192, 0.7);
}

.dnoFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divMenuFooter {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rights {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --------------------PROIZVODI------------------- */

.proizvodi {
    width: 100%;
    display: grid;
    grid-template-areas: "naslov" "listaProizvoda";
    padding: 50px;
    background-image: url(../img/CustomMeso.png);
    background-repeat: repeat;
}

.itemsNaslov {
    width: 100%;
    grid-area: naslov;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.itemsNaslov h4 {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4em;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.5);
    border: #bb1a1a 1px solid;
}

.items-list {
    grid-area: listaProizvoda;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lista {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.7);
    border: #bb1a1a 1px solid;
}

.naslovListe {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.naslovListe h6 {
    font-size: 2em;
}

.elementListe {
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.elementNaziv,
.elementCena {
    font-size: 1.3em;
    font-weight: 550;
}

.elementListe:last-child {
    border: none;
}

.paddingList {
    padding: 20px;
}

#listaSvinjetina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#listaJunetina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#listaPiletina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#listaMesano {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#listaPecenje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#listaLepinje {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*------------------------ media queries--------------------------------*/


/* Laptop L */

@media screen and (max-width: 1440px) {
    .boxUsluge {
        height: 350px;
    }
    .drugaC {
        width: 100%;
        justify-content: space-evenly;
    }
    .drugaC p {
        font-size: 1em;
        text-align: center;
    }
    /* proizvodi stranica */
    .itemsNaslov {
        font-size: 0.7em;
    }
    .lista {
        width: 60%;
    }
}


/* laptop */

@media screen and (max-width: 1024px) {
    .boxSlika {
        display: none;
    }
    .boxText img {
        margin-right: 20px;
    }
    .naslovUsluge {
        font-size: 1em;
    }
    .boxUsluge {
        height: 300px;
    }
    .boxUsluge h3 {
        font-size: 1.5em;
    }
    .boxUsluge img {
        max-width: 70px;
    }
    .boxUsluge p {
        font-size: 1em;
    }
    .drugaC {
        width: 100%;
        justify-content: space-evenly;
    }
    .drugaC p {
        font-size: 1em;
        text-align: center;
    }
    .itemsNaslov {
        font-size: 0.5em;
    }
    .lista {
        width: 70%;
    }
}


/* tablet */

@media screen and (max-width: 768px) {
    .boxText h2 {
        font-size: 2em;
    }
    .boxUsluge {
        height: 280px;
        width: 30%;
        margin: 5%;
    }
    .rights p {
        text-align: center;
    }
    .itemsNaslov {
        font-size: 0.6em;
    }
    .lista {
        width: 80%;
    }
}


/* mobile L */

@media screen and (max-width: 440px) {
    .divGlavni {
        display: none;
    }
    #navbar {
        display: none;
    }
    #hamburgerMenu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .slajder {
        height: 100vh;
    }
    .divTrecina {
        width: 100%;
    }
    .divNudimo {
        height: 50vh;
    }
    .naseUsluge {
        margin-top: 80px;
    }
    .naslovUsluge {
        font-size: 0.6em;
    }
    .divBox {
        height: 70%;
        width: 90%;
    }
    .boxp1 {
        font-size: 1.2em;
    }
    .boxp2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxp2 {
        padding: 0;
        margin: 0;
        letter-spacing: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .boxp2 img {
        max-width: 30px;
    }
    .boxText h2 {
        font-size: 1.2em;
    }
    .boxUsluge {
        height: 280px;
        width: 80%;
        margin: 5%;
    }
    .footerBox {
        width: 90%;
    }
    .dnoFooter {
        margin: 10px;
    }
    .itemsNaslov {
        font-size: 0.5em;
    }
    .lista {
        width: 100%;
    }
    .elementNaziv {
        font-size: 1em;
    }
    .elementCena {
        font-size: 1em;
    }
    .naslovListe {
        text-align: center;
    }
    .drugaC p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1em;
    }
}


/* mobile M */

@media screen and (max-width: 375px) {
    .lista {
        width: 100%;
    }
    .elementNaziv {
        font-size: 0.8em;
    }
    .drugaC p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.8em;
    }
}


/* mobile S */

@media screen and (max-width: 320px) {
    .lista {
        width: 100%;
    }
    .elementNaziv {
        font-size: 0.7em;
    }
    .drugaC p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 0.7em;
    }
}