@font-face {
  font-family: mainFont;
  src: url("../font/BAHNSCHRIFT 8.TTF");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* ul {
  list-style: none;
}

:root {
  --redcolor: #bb1a1a;
  --blackcolor: #302828;
  --hover: rgba(128, 128, 128, 0.6);
  --borderColor: rgba(131, 131, 131, 0.3);
  --blackopacity: #302828ee;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
      grid-template-areas: "header" "slider" "offer" "products" "contact";
}

body header .divGlavni {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100%;
      grid-template-areas: "ikon location location" "ikon meni meni";
  font-size: 21px;
}

body header .divGlavni .logoHeader {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: ikon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 10px;
}

body header .divGlavni .logoHeader img {
  width: 100px;
}

body header .divGlavni .divDrugi {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: location;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 6% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 38%, 100% 100%, 6% 100%, 0 0);
  background-color: var(--redcolor);
  height: 50px;
}

body header .divGlavni .divDrugi .crveniKontakt {
  list-style: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  color: white;
}

body header .divGlavni .divDrugi .crveniKontakt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .divGlavni .divDrugi .crveniKontakt li img {
  width: 21px;
  margin-right: 8px;
}

body header .divGlavni .divDrugi .crveniKontakt li a {
  text-decoration: none;
  color: white;
}

body header .divGlavni .divDrugi .crveniKontakt li a:hover {
  text-decoration: underline;
}

body header .divGlavni .divMenu {
  height: 50px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: meni;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .divGlavni .divMenu .nav-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

body header .divGlavni .divMenu .nav-menu li {
  float: right;
  width: 20%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

body header .divGlavni .divMenu .nav-menu li:hover {
  background-color: var(--hover);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
}

body header .divGlavni .divMenu .nav-menu li .navLink {
  text-decoration: none;
  padding: 10px;
  color: var(--blackcolor);
  width: 100%;
}

body #navbar {
  background-color: #bb1a1a;
  position: fixed;
  top: -70px;
  width: 100%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  color: white;
  font-weight: bold;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
}

body #navbar .navSlika {
  width: 60px;
  margin-left: 40px;
  margin-top: 2px;
}

body #navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 1.2em;
}

body #navbar a:hover {
  background-color: var(--blackcolor);
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  height: 100%;
}

body #hamburgerMenu {
  display: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #hamburgerMenu .menu {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1999;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

body #hamburgerMenu .menu li {
  width: 100%;
  text-align: center;
}

body #hamburgerMenu .menu li .menuItem {
  font-size: 2em;
}

body #hamburgerMenu .hamburger {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

body #hamburgerMenu .hamburger .menuIcon {
  width: 60px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  font-size: 1.2em;
  background-color: black;
}

body #hamburgerMenu .hamburger .closeIcon {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  font-size: 1.2em;
  background-color: black;
}

body .slajder {
  grid-area: slajder;
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .slajder .slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  height: 100%;
}

body .slajder .slideshow-container .divTrecina {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 33%;
  height: 100%;
  background-color: var(--hover);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px;
  color: black;
}

body .slajder .slideshow-container .divTrecina .textSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

body .slajder .slideshow-container .divTrecina .textSlider h1 {
  font-size: 3em;
  width: 100%;
  padding: 5px;
}

body .slajder .slideshow-container .divTrecina .textSlider p {
  font-size: 2em;
  width: 100%;
  padding: 5px;
}

body .slajder .slideshow-container .mySlides {
  height: 100%;
}

body .slajder .slideshow-container .mySlides img {
  width: 100%;
  height: 100%;
}

body .slajder .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  height: 20%;
  width: auto;
  padding: 26px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  border-radius: 3px 0 0 3px;
}

body .slajder .slideshow-container .next:hover {
  background-color: var(--hover);
  cursor: pointer;
}

body .slajder .slideshow-container .prev {
  cursor: pointer;
  position: absolute;
  top: 40%;
  height: 20%;
  width: auto;
  padding: 26px;
  color: white;
  font-weight: bold;
  font-size: 32px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  border-radius: 3px 0 0 3px;
}

body .slajder .slideshow-container .prev:hover {
  background-color: var(--hover);
  cursor: pointer;
}

body .divNudimo {
  background-color: #302828;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: offer;
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body .divNudimo .divBox {
  position: absolute;
  top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  z-index: 110;
}

body .divNudimo .divBox .boxSlika {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

body .divNudimo .divBox .boxSlika img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

body .divNudimo .divBox .boxText {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5%;
}

body .divNudimo .divBox .boxText h2 {
  width: 100%;
  text-align: left;
  font-size: 3em;
  margin-bottom: 20px;
}

body .divNudimo .divBox .boxText .boxp1 {
  width: 100%;
  text-align: left;
  font-size: 2em;
  margin-bottom: 15px;
  color: var(--redcolor);
}

body .divNudimo .divBox .boxText .boxp2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 2em;
  margin-bottom: 10px;
}

body .divNudimo .divBox .boxText .boxp2 img {
  width: 27px;
}

body .usluge {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: products;
  background-image: url(../img/CustomMeso.png);
  background-repeat: repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

body .usluge .naslovUsluge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  margin-bottom: -60px;
}

body .usluge .naslovUsluge h2 {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 5px 10px;
}

body .usluge .naseUsluge {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 80px;
}

body .usluge .naseUsluge .boxUsluge {
  width: 20%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #302828ee;
  -webkit-box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.8);
  -webkit-transition: 1s;
  transition: 1s;
}

body .usluge .naseUsluge .boxUsluge h3 {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

body .usluge .naseUsluge .boxUsluge img {
  max-width: 120px;
  margin-bottom: 10px;
}

body .usluge .naseUsluge .boxUsluge p {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

body .footer {
  background-color: #302828;
  width: 100%;
  height: 50vh;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: contact;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .footer .footerBox {
  width: 40%;
  background-color: var(--redcolor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px 10px 30px 10px;
}

body .footer .footerBox .drugaC {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  padding: 10px;
}

body .footer .footerBox .drugaC p {
  text-align: center;
}

body .footer .footerBox .drugaC p a {
  color: white;
  text-decoration: none;
}

body .footer .footerBox .drugaC p a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body .footer .footerBox .drugaC img {
  margin-right: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
}

body .footer .footerBox .drugaC:last-child {
  border: none;
}

body .footer .footerBox .socialFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .footer .footerBox .socialFooter img {
  width: 40px;
}

body .footer .linija {
  border-top: silver solid;
  width: 90%;
  margin-top: 10px;
  height: 5%;
}

body .footer .dnoFooter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5%;
}

body .footer .dnoFooter .rights {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .footer .dnoFooter .rights p, body .footer .dnoFooter .rights a {
  padding: 10px;
  display: inline-block;
  color: rgba(192, 192, 192, 0.7);
}
/*# sourceMappingURL=pocetna.css.map */