@font-face {
    font-family: mainFont;
    src: url("../font/BAHNSCHRIFT\ 8.TTF");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

ul {
    list-style: none;
}
}

:root {
    --redcolor: #bb1a1a;
    --blackcolor: #302828;
    --hover: rgba(128, 128, 128, 0.6);
    --borderColor: rgba(131, 131, 131, 0.3);
    --blackopacity: #302828ee;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-areas: "header"
        "slider"
        "offer"
        "products"
        "contact";
        header{
           .divGlavni {
            display: grid;
            grid-area: header;
            width: 100%;
            grid-template-areas:"ikon location location"
                                "ikon meni meni";
            font-size: 21px;
            .logoHeader {
                grid-area: ikon;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 10px;
                img{
                    width: 100px;
                }
            }
            .divDrugi {
                grid-area: location;
                width: 100%;
                -webkit-clip-path: polygon(100% 0, 100% 38%, 100% 100%, 6% 100%, 0 0);
                clip-path: polygon(100% 0, 100% 38%, 100% 100%, 6% 100%, 0 0);
                background-color: var(--redcolor);
                height: 50px;
                .crveniKontakt {
                    list-style: none;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding: 10px;
                    color: white;
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                        width: 21px;
                        margin-right: 8px;
                        }
                        a {
                            text-decoration: none;
                            color: white;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        
                    }
                    
                }
            }
            .divMenu {
                height: 50px;
                grid-area: meni;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .nav-menu {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 100%;
                    li {
                        float: right;
                        width: 20%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        transition: 1s;
                        &:hover {
                            background-color: var(--hover);
                            cursor: pointer;
                            transition: 1s;
                            border-radius: 10px;
                        }
                        .navLink {
                            text-decoration: none;
                            padding: 10px;
                            color: var(--blackcolor);
                            width: 100%;
                        }
                    }
                }
            }

        } 
        }
        #navbar {
            background-color: #bb1a1a;
            position: fixed;
            top: -70px;
             width: 100%;
            transition: top 0.3s;
            color: white;
            font-weight: bold;
            z-index: 1000;
            border-radius: 0 0 10px 10px;
            .navSlika {
                width: 60px;
                margin-left: 40px;
                margin-top: 2px;
            }
            a {
                float: right;
                display: block;
                color: white;
                text-align: center;
                padding: 15px;
                text-decoration: none;
                font-size: 1.2em;
                &:hover{
                    background-color: var(--blackcolor);
                    color: white;
                    transition: 1s;
                    height: 100%;
                }
            }
        }
        #hamburgerMenu{
            display: none;
            width: 100%;
            display: flex;
            .menu {
                position: fixed;
                transform: translateY(-100%);
                transition: transform 0.5s;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1999;
                background: black;
                color: white;
                list-style: none;
                padding-top: 4rem;
                li{
                    width: 100%;
                    text-align: center;
                    .menuItem{
                        font-size: 2em;
                      }
                }
              }
              .hamburger {
                display: none;
                position: fixed;
                z-index: 2000;
                top: 1rem;
                right: 1rem;
                padding: 4px;
                border: black solid 1px;
                background: white;
                cursor: pointer;
                .menuIcon{
                    width: 60px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: white;
                    font-size: 1.2em;
                    background-color: black;
                }
                .closeIcon{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    color: white;
                    font-size: 1.2em;
                    background-color: black;
                  }
              }

        }   
        .slajder {
            grid-area: slajder;
            width: 100%;
            height: 85vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .slideshow-container {
                width: 100%;
                position: relative;
                margin: auto;
                height: 100%;
                .divTrecina {
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 33%;
                    height: 100%;
                    background-color: var(--hover);
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    padding: 5px;
                    color: rgb(0, 0, 0);
                    .textSlider {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        h1 {
                            font-size: 3em;
                            width: 100%;
                            padding: 5px;
                        }
                         p {
                            font-size: 2em;
                            width: 100%;
                            padding: 5px;
                        }
                    }
                }
                .mySlides {
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .next {
                    cursor: pointer;
                    position: absolute;
                    top: 40%;
                    height: 20%;
                    width: auto;
                    padding: 26px;
                    color: white;
                    font-weight: bold;
                    font-size: 32px;
                    transition: 0.6s ease;
                    border-radius: 0 3px 3px 0;
                    user-select: none;
                    z-index: 900;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 0;
                    border-radius: 3px 0 0 3px;
                    &:hover{
                        background-color: var(--hover);
                        cursor: pointer;
                    }
                }
                .prev {
                    cursor: pointer;
                    position: absolute;
                    top: 40%;
                    height: 20%;
                    width: auto;
                    padding: 26px;
                    color: white;
                    font-weight: bold;
                    font-size: 32px;
                    transition: 0.6s ease;
                    border-radius: 0 3px 3px 0;
                    user-select: none;
                    z-index: 900;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    left: 0;
                    border-radius: 3px 0 0 3px;
                    &:hover{
                        background-color: var(--hover);
                        cursor: pointer;
                    }
                }
            }
        } 
        .divNudimo {
            background-color: #302828;
            grid-area: offer;
            height: 60vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .divBox {
                position: absolute;
                top: -20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background-color: white;
                border-radius: 10px;
                width: 60%;
                height: 100%;
                z-index: 110;
                .boxSlika {
                    width: 50%;
                    height: 100%;
                    border-radius: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                    }
                }
                .boxText {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding-left: 5%;
                    h2 {
                        width: 100%;
                        text-align: left;
                        font-size: 3em;
                        margin-bottom: 20px;
                    }
                    .boxp1 {
                        width: 100%;
                        text-align: left;
                        font-size: 2em;
                        margin-bottom: 15px;
                        color: var(--redcolor);
                    }
                    .boxp2 {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        font-size: 2em;
                        margin-bottom: 10px;
                         img {
                            width: 27px;
                        }
                    }
                }
            }
        }
        .usluge {
            grid-area: products;
            background-image: url(../img/CustomMeso.png);
            background-repeat: repeat;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            .naslovUsluge {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                margin-top: 80px;
                margin-bottom: -60px;
                h2 {
                    font-size: 4em;
                    font-weight: bold;
                    text-align: center;
                    background: rgba(255, 255, 255, 0.6);
                    border-radius: 10px;
                    padding: 5px 10px;
                }
            }
            .naseUsluge {
                margin-top: 10%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;
                width: 100%;
                margin-bottom: 80px;
                .boxUsluge {
                    width: 20%;
                    height: 450px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 10px;
                    background-color: #302828ee;
                    -webkit-box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.6);
                    box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.8);
                    transition: 1s;
                    h3 {
                        color: white;
                        font-size: 2em;
                        text-align: center;
                        padding: 10px;
                        margin-bottom: 10px;
                    }
                    img {
                        max-width: 120px;
                        margin-bottom: 10px;
                    }
                    p {
                        padding: 10px;
                        text-align: center;
                        color: white;
                        font-size: 1.2em;
                    }
                }
            }

        }
        .footer {
            background-color: #302828;
            width: 100%;
            height: 50vh;
            grid-area: contact;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .footerBox {
                width: 40%;
                background-color: var(--redcolor);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                margin-bottom: 30px;
                padding:30px 10px 30px 10px;
                .drugaC {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 1.2em;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
                    padding: 10px;
                    p {
                        text-align: center;
                    
                        a{
                            color: white;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                    img {
                        margin-right: 40px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        float: left;
                    }
                    &:last-child{
                        border: none;
                    }
                   
                }
                .socialFooter {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 40px;

                    }
                }
            }
            .linija {
                border-top: silver solid;
                width: 90%;
                margin-top: 10px;
                height: 5%;
            }
            .dnoFooter {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 5%;
                .rights {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p,a {
                     padding: 10px;
                    display: inline-block;
                    color: rgba(192, 192, 192, 0.7);
}
            }
                }
                
        }

}