body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    grid-template-areas:"header"
                        "slider"
                        "offer"
                        "products"
                        "contact";
}
/* header */
.divGlavni{
    display: grid;
    grid-area: header;
    width: 100%;
    padding: 5px;
    grid-template-areas:"ikon location location"
                        "ikon meni meni";
}
.logoHeader{
    grid-area: ikon;
  
}


/* slider */
.slider{
    grid-area: slider;
    padding: 5px;
    width: 100%;
}
.slides-container{
    height: 600px;
}
.slide-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.slide-image img{
    width: 80%;
    height: 100%;
}